@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Merriweather');

body {
    font-family: 'Merriweather', serif;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: #d2cfc4;
}

#countview{
    background-color: #9fcdff;
}

.activelike{
    color: #6f42c1;
}

.likegreen{
color: #28a745;
}
.likered{
    color: #dc3545;
}
.viewblue{
    color: #091629;
}
.allwrap {
    padding: 0;
}

.topcat {
    font-family: 'Alegreya Sans', sans-serif;
    color: #d2cfc4;
    font-size: 1.25rem;
}

.topcat a:hover {
    color: #ffffff;
}

.logohouse {
    background: no-repeat center center url("/logos/lighthouseLogoNew.svg");
    background-size: cover;
    max-width: 100%;
    height: auto;
}

.blueback {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding-top: 1vh;
    background-color: #091629;
}

.topSlogan {
    background: #ff7f00;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45px;

}

#slogan {
    font-size: 2rem;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    background-color: #ff7f00;
    padding-left: 1vw;
}

.toplinks {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-family: 'Alegreya Sans', sans-serif;
    color: #52525b;
    font-size: 1.15rem;
    list-style-type: none;
}

.searchItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1vw;
    background-color: #ff7f00;
}

.newswrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1vw;
}
.blogwrap{
    flex-direction: column;
    padding: 5%;
    background-color: #f0ede2;
    overflow: scroll;
    text-overflow: ellipsis;
    max-height: 2450px;
}

.blogItem{
    margin: 10px;
}

.newsbody {
    margin-left: 2.5%;
    margin-top: 2%;
    max-width: 46%;
    height: 800px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-self: center;
    background-color: #f0ede2;
}

.newsbody:hover {
    box-shadow: 0 0 5px rgb(82, 82, 91);
}

.imgnewsdiv {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    height: 270px;
    margin-bottom: 15px;
}
.itemImg{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.imgnews {
    max-width: 100%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: top;
}

.newstextbody{
    max-height: 50%;
    overflow: hidden;
    padding: 1%;
}

.newstitle {
    font-size: 1.25rem;
    color: #091629;
    text-align: center;
}
.itemTitle {
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    color: #091629;
    text-align: center;
}

p.newstext {
    font-size: 0.75rem;
    color: #091629;
    text-overflow: ellipsis;
    padding: 1vw;
}
p.itemText{
    font-size: 1.25rem;
}

.btngreen{
    width: 70px;
}
.btnered{
width: 70px;
}


/*This is pagination section*/
.pagination {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 20px 0 10px;
}

.pagination button {
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 5px 5px;
    margin: 0 5px;
    position: relative;
    color: rgba(51, 51, 51, .6);
    border: 1px solid rgba(51, 51, 51, .6);
    background: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.pagination button.active {
    color: rgb(51, 51, 51);
}

.pagination button.active:before,
.pagination button.active:after {
    height: 100%;
    width: 100%;
    opacity: 1;
}

.pagination button:before,
.pagination button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
}

.pagination button:before {
    bottom: 0;
    left: 0;
    border-left: 1px solid rgb(51, 51, 51);
    border-top: 1px solid rgb(51, 51, 51);
    transition: 0s ease opacity .4s, .1s ease width .2s, .1s ease height .3s;
}

.pagination button:after {
    top: 0;
    right: 0;
    border-right: 1px solid rgb(51, 51, 51);
    border-bottom: 1px solid rgb(51, 51, 51);
    transition: 0s ease opacity .2s, .1s ease width, .1s ease height .1s;
}

.pagination button:hover:before,
.pagination button:hover:after {
    height: 100%;
    width: 100%;
    opacity: 1;
}

.pagination button:hover:before {
    transition: 0s ease opacity 0s, .1s ease height, .1s ease width .1s;
}

.pagination button:hover:after {
    transition: 0s ease opacity .2s, .1s ease height .2s, .1s ease width .3s;
}

.pagination button:hover {
    background: rgb(255, 125, 0);
    color: rgb(51, 51, 51);
}

.footer_bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh; /*высота футера будет зависеть от высоты экрана*/
}

.cardMain:hover {
    min-width: 30%;
    box-shadow: 0 0 5px rgb(82, 82, 91);
}

.topNewsItem {
    background: #091629;
    color: #ffffff;
    position: absolute;
    left: 0px;
    padding: 10px;
    top: 20px;
    z-index: 2;
    border-top-right-radius: 20px;
}

@media screen and (max-width: 992px) {
    .toplinks {
        font-size: 1rem;
    }
    .newsbody{
        max-width: 96%;
    }
}

@media screen and (max-width: 768px) {
    .blueback {
        flex-direction: column;
    }

    .newsbody {
        max-width: 96%;
    }

    .toplinks {
        font-size: 1rem;
    }
}